node_modules/
tmp/
TestResults/
App.config
Web.config
Web.Debug.config
Web.Release.config
.backup
.idea
*.xlsx
**/*.TMP
*.nupkg
**/packages/*
**/bin/*
**/obj/*
*.dbmdl
*.jfm
*.DotSettings.user

*.dll
*.exe
*.xap
*.zip

!releases/*

Thumbs.db
.DS_Store

#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr

# Profiling
*.psess
*.vsp
web.config.profile.backup*

.vs
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
.*.swp
NUnitTestResults.xml
mochaTestResults.json
*_ignore 